.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-flickr {
  width: 0.8571436107158661em;
}

.icon-medium {
  width: 1.0000000428408384em;
}

.icon-book {
  width: 0.9287109375em;
}

.icon-linkedin {
  width: 0.8571428571428572em;
}

.icon-twitter {
  width: 0.9287109375em;
}

.icon-github {
  width: 0.8571428571428572em;
}

.icon-link {
  width: 0.9287109375em;
}

.icon-bars {
  width: 0.8571428571428572em;
}

.icon-pinterest {
  width: 0.8571428571428572em;
}

.icon-googleplus {
  width: 0.9287109375em;
}

.icon-circle {
  width: 0.8571428571428572em;
}

.icon-code {
  width: 1.0712890625em;
}

.icon-youtube {
  width: 0.8571428571428572em;
}

.icon-stackoverflow {
  width: 0.7861328125em;
}

.icon-bitbucket {
  width: 0.7861328125em;
}

.icon-tumblr {
  width: 0.5712890625em;
}

.icon-dribbble {
  width: 0.8571428571428572em;
}

.icon-skype {
  width: 0.8571428571428572em;
}

.icon-foursquare {
  width: 0.7138671875em;
}

.icon-gittip {
  width: 0.8571428571428572em;
}

.icon-stackexchange {
  width: 0.7138671875em;
}

.icon-vimeo {
  width: 0.8571428571428572em;
}

.icon-graduation-cap {
  width: 1.2861328125em;
}

.icon-language {
  width: 0.8571428571428572em;
}

.icon-child {
  width: 0.7138671875em;
}

.icon-behance {
  width: 0.8571428571428572em;
}

.icon-spotify {
  width: 0.8571428571428572em;
}

.icon-soundcloud {
  width: 1.2861328125em;
}

.icon-hackernews {
  width: 0.8571428571428572em;
}

.icon-angellist {
  width: 0.7138671875em;
}

.icon-facebook {
  width: 0.8571428571428572em;
}

.icon-meetup {
  width: 1.5em;
}
